<!DOCTYPE html>
<html>
    <head>
        <title>shitposta</title>
    </head>
    <body>
        <h1>Welcome to shitposta, because shitposter sounds offensive</h1>
        <p>Ready to loose some braincells? <a href="view">let's go</a></p>
        <p>Are you a mobile user? Pressing "C" won't work on your phone, (unless you have a physical keyboard, weirdo). Choose your settings <a href="settings">here</a></p>
        <p>Legal disclaimer: we don't own anything and this website is a joke, pls don't sue, senpai.</p>
    </body>
    <%- include('../partials/style.ejs');%>
</html>