<!DOCTYPE html>
<html>
    <head>
        <title>shitposta</title>
    </head>
    <body>
        <h1>Welcome to shitposta, because shitposter sounds offensive</h1>
        <p>For random memes, go to <a href="/infinity">slash infinity</a></p>
        <p>For an endless video playlist, go to <a href="auto">slash auto</a></p>
        <p>Legal disclaimer: we don't own anything and this website is a joke, pls don't sue, senpai.</p>
    </body>
    <%- include('../partials/style.ejs');%>
</html>