<!DOCTYPE html>
<html lang="en">

<head>
    <title>"<%- options.id%>"</title>
</head>
<iframe id="media"  style="position:fixed; top:0; left:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:1;" src="<%- options.id%>">Your browser doesn't support iframes :'(</iframe>

<%- include('../partials/script.ejs', {options: options}); %> 

</html>