<!DOCTYPE html>
<html lang="en">

<head>
    <title>Imagine being on mobile bruh</title>
</head>

<%- include('../partials/settings.ejs', {options: options}); %> 

<script>
    window.onload = function() {
        document.getElementById("settings").hidden = false;
    }
</script>
</html>